.dish-list {
    width: 48%;
    padding: {
        left: 15px;
        right: 15px;
    }
    position: relative;

    &--admin {
        width: 73%;
    }

    @media screen and (max-width: 1024px)  {
        width: 55%;
    }

    @media screen and (max-width: 959px) {
        width: 100%;
    }

    @media screen and (max-width: 768px)  {
        padding: {
            left: 0;
            right: 0;
        }
    }

    &__preloader {
        height: 400px;
        width: 100%;
        transform: translate(0, -25px);
        background: transparent;
    }
}